<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>commentlist</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'csspractice/style.css' %}">
    <link rel="stylesheet" href="{% static 'csspractice/header.css' %}">
  </head>
  <body>
    {% include 'csspractice/header.html' %}

    <h2><font face="serif">Comments</font></h2>
  {% if comments %}
    <ul>
    {% for comment in comments %}
      <li><a>{{ comment.comment_text }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No comments are available.</p>
  {% endif %}

<form action="/csspractice/commentsubmit" method="post">
{% csrf_token %}
<fieldset>
    <input type="textarea" name="comment" id="123" value="">
</fieldset>
<input type="submit" value="Post">
</form>

  </body>
</html>
