<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>commentlist</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'csspractice/style.css' %}">
    <link rel="stylesheet" href="{% static 'csspractice/header.css' %}">
  </head>
  <body>
    {% include 'csspractice/header.html' %}

   <div class="container">
     <ul class="carousel">
       <li class="item"><img src="{% static 'csspractice/images/IMG_0169.JPG' %}" alt=""></li>
       <li class="item"><img src="{% static 'csspractice/images/IMG_0223.JPG' %}" alt=""></li>
       <li class="item"><img src="{% static 'csspractice/images/IMG_0309.JPG' %}" alt=""></li>
     </ul>
   </div> 

  </body>
</html>
